<html>
  <head>
    <title>Search Kanji By Parts</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./src/app.css"/>
  </head>
  <body>
    <!--
      TODO
            .-----------------. () 倉頡輸入法も含む
            |     部首検索    | () 似てる部首も含む
            '-----------------'

      .-----------------------------.
      |          候補リスト         |
      '-----------------------------'

      .-----------------------------.
      | 1 | 一｜ノ乙亅              |
      | 2 | 二亠人化个儿入ハ并冂... |
      | 3 | 込口囗土士夂夕大女子... |
      | 4 | 老心戈戸手支攵文斗斤... |
                  ...
      | 14 | 鼻齊                   |
      | 17 | 龠                     |
      '-----------------------------'
    -->
    <div id="app">
      <div>
        <input type="text" v-model="input" v-on:change="lookup">
      </div>
      <ul>
        <!-- TODO -->
        <!-- <li> -->
        <!--   <input id="include_ciangjie" type="checkbox" v-model="include_ciangjie" v-on:change="lookup"> -->
        <!--   <label for="include_ciangjie">倉頡輸入法も含む</label> -->
        <!-- </li> -->
        <li>
          <input id="include_similar" type="checkbox" v-model="include_similar" v-on:change="lookup">
          <label for="include_similar">似てる部首も含む</label>
        </li>
      </ul>
      <div>
        <span v-for="candidate in candidates">
          {{ candidate }}
        </span>
      </div>
    </div>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script async src="./src/compat.js"></script>
    <script async src="./src/app.js"></script>
  </body>
</html>
