<html>
  <head>
    <title>Search Kanji By Parts</title>
    <meta charset="UTF-8">
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="./public/css/lib/reset.css"/>

    <!-- TODO: minify -->
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="./src/css/app.css"/>
    <!-- <link rel="preload" as="style" onload="this.rel='stylesheet'" href="./public/css/kanji.min.css"/> -->
  </head>
  <body>
    <div id="app" class="app" :class="{ ready: ready }">
      <div class="splash">
        <i class="loading"></i>
      </div>

      <div>
        <input type="text" v-model="input" v-on:change="lookup">
      </div>

      <ul>
        <li>
          <input id="include_similar" type="checkbox" v-model="include_similar" v-on:change="lookup">
          <label for="include_similar">似てる部首も含む&#x1F441;</label>
        </li>
        <li>
          並び替え
          <sort-option order="stroke" label="画数" v-bind:sort="sort" v-on:sort-candidates="sortCandidates"></sort-option>
          <sort-option order="freq_ja"
                       label="日本語での使用頻度"
                       v-bind:sort="sort"
                       v-on:sort-candidates="sortCandidates"></sort-option>
          <sort-option order="freq_cn"
                       label="中国語での使用頻度"
                       v-bind:sort="sort"
                       v-on:sort-candidates="sortCandidates"></sort-option>
        </li>
      </ul>

      <candidate-list v-bind:candidates="candidates" v-bind:searching="searching"></candidate-list>

      <radical-selection v-bind:radical_selection="radical_selection" v-on:select-radical="selectRadical"></radical-selection>
    </div>

    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>

    <!-- TODO: concatenate & minify -->
    <script async src="./src/js/helpers.js"></script>
    <script async src="./src/js/compat.js"></script>
    <script async src="./src/js/sort.js"></script>
    <script async src="./src/js/components/sort_option.js"></script>
    <script async src="./src/js/components/candidate_list.js"></script>
    <script async src="./src/js/components/radical_selection.js"></script>
    <script async src="./src/js/app.js"></script>
    <!-- <script async type="text/javascript" src="./public/js/kanji.min.js"></script> -->
  </body>
</html>
