:root {
  --main-bg-color: #ffffff;
  --main-border-color: #d4d7dd;
  --main-selected-bg-color: #305c91;
  --main-text-color: #3b3b3b;
}

.footer {
  text-align: center;
  background-color: var(--main-selected-bg-color);
  color: #ffffff;
  opacity: 0.8;
  padding: 40px 0 20px;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #ffffff;
}

.search {
  margin: auto;
  width: 50%;
  padding: 5rem 0 5rem;
}
@media screen and (max-width: 600px) {
  .search {
    width: 80%;
  }
}
.search_bar {
  height: 60px;
  width: 100%;
  display: inline-flex;
  border: 1px solid var(--main-border-color);
  margin-bottom: 10px;
}

.candidate-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.candidate-list-container .more {
  position: absolute;
  left: 1px;
  bottom: 1px;
  right: 1px;
  height: 3rem;
  background: linear-gradient(180deg, transparent, #ffffff);
}

.candidate-list {
  width: 100%;
  height: 12rem;
  overflow: scroll;
  padding: 0.4rem;
  line-height: 2rem;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  border: 1px solid var(--main-border-color);
}

.candidate-list::-webkit-scrollbar {
  display: none;
}

.candidate-list .candidate {
  margin: 0.2rem;
}

.loading {
  width: 100px;
  height: 100px;
  z-index: 1;
  line-height: 100px;
  position: absolute;
  display: block;
  text-align: center;
  font-size: 100px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.loading::before {
  content: '\25cc';
}
.loading::after {
  content: '';
  background: linear-gradient(rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.8) 50%, #ffffff 66%);
}
.loading::before,
.loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(720deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(720deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(720deg); transform:rotate(720deg); } }

i.eye::before {
  content: '\1F441';
  text-shadow: 0 0 0 #000000;
  filter: saturate(5) contrast(100) grayscale(1);
}
